
.wpdrsContainer {
  width: 100%;
}

/* Bottom chart */
#responseChart {
  width: 100%;
  height: 200px;
  margin-top: 4px;
  
  /* just to visualize the area */
  border: 1px solid black;
}

/* Bottom chart average value */
#responseChartAvg {
  width: 100%;
  height: 20px;
  text-align: center;
  line-height: 20px; /* to align the text vertically this must be the same as height */
  
  /* just to visualize the area */
  border: 1px solid black;
}

/* Top chart */
#requestChart {
  width: 100%;
  height: 200px;
  /* just to visualize the area */
  border: 1px solid black;
}

/* Bottom chart average value */
#requestChartAvg {
  height: 20px;
  width: 100%;
  text-align: center;
  line-height: 20px; /* to align the text vertically this must be the same as height */
  
  /* just to visualize the area */
  border: 1px solid black;
}

#buttonRow{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.submit-button {
  width: 100px;
  display: inline-block;
}

.submit-button input{
  width: 100%;
  margin-left:auto;
  margin-right:auto;
}
